{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <base href="/">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
        
        <script>
        function getOmniturePageConfig2(path) {

      var regexPattern = {
        home: /\//,
        blog: /\/news/,
        blogDetail: /\/news\//,
        blogCategory: /\/tag\//,
        video: /\/video/,
        videoDetail: /\/video\//,
        mailinglist: /\/mailing-list/,
        store: /\/merch/,
        about: /\/about/,
        contact: /\/contact-us/,
        pageNotFound: /\/404/,
        pageNotFound2: /\/.+/,
        search: /\/search/
      };

      var pageConfig = {
        artistName: 'I Like Your Old Stuff',
        platform: 'Drupal 8',
        reportSuites : 'wmg,wmgau,wmgilikeyouroldstuff.com',
        label: 'Warner Music International',
        sublabel: 'Warner Music Australia',
        server: 'I Like Your Old Stuff:Site'
      };

      var pathPattern, title = "";
      switch (true) {
        case regexPattern.blogDetail.test(path): pathPattern = '/blogDetail'; title = path.split('/').pop(); break;
        case regexPattern.blogCategory.test(path): pathPattern = '/blogCategory'; title = path.split('/').pop(); break;
        case regexPattern.blog.test(path): pathPattern = '/blog'; break;
        case regexPattern.videoDetail.test(path): pathPattern = '/videoDetail'; title = path.split('/').pop(); break;
        case regexPattern.video.test(path): pathPattern = '/video'; break;
        case regexPattern.mailinglist.test(path): pathPattern = '/mailing-list'; break;
        case regexPattern.store.test(path): pathPattern = '/store'; break;
        case regexPattern.about.test(path): pathPattern = '/about'; break;
        case regexPattern.contact.test(path): pathPattern = '/contact'; break;
        case regexPattern.search.test(path): pathPattern = '/search'; break;
        case regexPattern.pageNotFound.test(path): pathPattern = "/404"; break;
        case regexPattern.pageNotFound2.test(path): pathPattern = "/404"; break;
        case regexPattern.home.test(path): pathPattern = '/'; break;
      }

      title = decodeURIComponent(title);
      let customOmniTitle = title ? title.charAt(0).toUpperCase() + title.substr(1).toLowerCase() : '';
      customOmniTitle = customOmniTitle.split('-').join(' ');
      console.log("customOmniTitle is : " + customOmniTitle);

      var page = {
        '/': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Homepage',
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Home',
                pageType: 'homepage'
            }
        },
        '/video': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Videos',
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Videos',
                pageType: 'videos:landing'
            }
        },
        '/videoDetail': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Videos:' + title,
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Videos',
                pageType: 'videos:details'
            }
        },
        '/blog': {
            pageInfo: {
                pageName: pageConfig.artistName + ':News',
            },
            category: {
                primaryCategory: pageConfig.artistName + ':News',
                pageType: 'news:landing'
            }
        },
        '/blogDetail': {
            pageInfo: {
                pageName: pageConfig.artistName + ':News:' + title
            },
            category: {
                primaryCategory: pageConfig.artistName + ':News',
                pageType: 'news:article'
            }
        },
        '/blogCategory': {
            pageInfo: {
                pageName: pageConfig.artistName + ':News:' + title.charAt(0).toUpperCase() + title.substr(1).toLowerCase()
            },
            category: {
                primaryCategory: pageConfig.artistName + ':News',
                pageType: 'news:category'
            }
        },
        '/store': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Store'
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Store',
                pageType: 'store:landing'
            }
        },
        '/about': {
            pageInfo: {
                pageName: pageConfig.artistName + ':About'
            },
            category: {
                primaryCategory: pageConfig.artistName + ':About',
                pageType: 'about'
            }
        },
        '/contact': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Contact Us'
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Contact Us',
                pageType: 'contact us'
            }
        },
        '/mailing-list': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Mailing List Sign-up'
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Mailing List Sign-up',
                pageType: 'mailing list sign-up'
            }
        },
        '/search': {
            pageInfo: {
                pageName: pageConfig.artistName + ':Search:Results',
                // onsiteSearchTerms: '',
                // onsiteSearchResults: ''
            },
            category: {
                primaryCategory: pageConfig.artistName + ':Search',
                pageType: 'search:results'
            }
        },
        //"/**": {
        "/404": {
                pageInfo: {
                    pageName: pageConfig.artistName + ":404 Error",

                },
                category: {
                    primaryCategory: pageConfig.artistName + ":Error",
                    pageType: "Error"
                }
            }
      }

      var data = page[pathPattern];
      data.pageConfig = pageConfig;
      return data;
    }
   
         var pathname = window.location.pathname;
        var result = getOmniturePageConfig2(pathname);
    digitalData = {
        settings: {
            reportSuites: result.pageConfig.reportSuites || ""
        },
        page: {
            pageInfo: {
                pageName: result.pageInfo.pageName || "",
                server: result.pageConfig.server || "",
                platform: result.pageConfig.platform || ""
            },
            category: {
                primaryCategory: result.category.primaryCategory || "",
                pageType: result.category.pageType || ""
            }
        },
        content: {
            artist: result.pageConfig.artistName || "",
            label: result.pageConfig.label || "",
            sublabel: result.pageConfig.sublabel || ""
        }
    };
    </script>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
	
	<!-- Hammer JS -->
	<script type="text/javascript" src="/{{ base_path ~ directory }}/lib/hammer.js"></script>	
	
	<link href="/{{ base_path ~ directory }}/assets/normalize.css" rel="stylesheet" />
	<link href="/{{ base_path ~ directory }}/css/global-style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.0.8/gridlex.min.css">
<link href="/{{ base_path ~ directory }}/styles.2b8b02201e51d3b5325c.bundle.css" rel="stylesheet" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102096592-1"></script>
  
  
  <!-- cookie js --> 
  <script>


<!-- Global site tag (gtag.js) - Google Analytics -->
window.dataLayer = window.dataLayer || [];
function gtag()
{dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-102096592-1');




</script>
<style>
#toasterLightbox{
    position: fixed;
    bottom: 0;
    width: 90%;
    z-index: 10;
    padding: 2% 5%;
    background: #000;
font-size: 12px;
    text-align: center;
}
#toasterlbclose{
    display: block;
    text-align: right;
}
.accept-button{
display:block;
text-align:center;
margin-top:10px;
}
#toasterLightbox .accept-button a{
display: inline-block;
    text-align: center;
    padding: 10px;
    background: #cda866;
    color: #fff;
    text-transform: uppercase;
cursor:pointer;
}
#toasterLightbox .accept-button a:hover{
	color: #1d1a15;
    background: #fff;
}
#toasterLightbox a{
color: #cda866;
}
</style>
  <!-- cookie js end -->
  
  <!-- external scripts js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script>
    function addScript(path) {
      console.log('Adding external script on head..');
      var head = document.getElementsByTagName("head")[0];
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.src = path;
    
    var headScripts = jQuery('head script');
    
    for (var j = headScripts .length; j--;) {
    
    if(headScripts[j].src == path )
    {
    console.log(headScripts[j].src); console.log(path); 
    console.log('present');
    jQuery('script[src*="'+path+'"]').remove();
    head.appendChild(s);
    
    }
    else{
    head.appendChild(s);
    }
    }
      
    }
    
    function loadExternalScripts(){
      console.log('external script loading..');
      var newsBodyScripts = jQuery('.news-content__news-body.full-content script');
      for (var i = newsBodyScripts.length; i--;) {
        var externalUrl = newsBodyScripts[i].src;
        addScript(externalUrl);
      }
    }
    
    function urlChange(){
      console.log('url change called');
      var pathname = window.location.pathname;
      newsDetail = pathname.split('/');
      if(newsDetail[1] == 'news' && newsDetail[2] != undefined){
        console.log('url matched news detail, loading script with a 5s timeout');
        setTimeout(function(){
          loadExternalScripts();
        },2000);
      }
    }
    
    window.addEventListener("load", function load(event){
      loadExternalScripts();
      
      jQuery(window).click(function() {
        urlChange();
      });
    },false);
    </script>
  <!-- external scripts js end -->
   <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700,800,900" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <script src="//apis.google.com/js/platform.js"></script>
  
  	<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
	<script>
	  var googletag = googletag || {};
	  googletag.cmd = googletag.cmd || [];
	</script>
        <script src="//assets.adobedtm.com/31543e7db99435a92d6f4a2cf97c808672ed7dd0/satelliteLib-b6e3529c31d92a9252c30c1714b6b9342304145b.js"></script>
  </head>
  <body{{ attributes.addClass(body_classes) }}> 
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>  
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
	
    <script type="text/javascript" src="/{{ base_path ~ directory }}/inline.1e9802feef25911cb66b.bundle.js"></script>
	<script type="text/javascript" src="/{{ base_path ~ directory }}/polyfills.9ea3b11f9f7d2b7be200.bundle.js"></script>	
	<script type="text/javascript" src="/{{ base_path ~ directory }}/vendor.71f7eab3ff61e73f7455.bundle.js"></script>
    <script type="text/javascript" src="/{{ base_path ~ directory }}/main.bf53a56d4c9c91df6173.bundle.js"></script>
	
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <!-- facebook Like Starts 
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=190235525095218&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
	  
    <!-- facebook Like Ends -->
  </body>
</html>
